<h1>Editing Book</h1>

<!--↓分からなかった-->
<!--<form>-->
  <!--↑分からなかった-->
<%= render 'form', book: @book %>
<!--↓分からなかった-->
<!--</form>-->
<!--↑分からなかった-->

<%= link_to 'Show', @book %>
<%= link_to 'Back', books_path %>
